:root {
  --brand-color: #e86f54;
  --brand-color-hover: #e25b41;
  --brand-color-focus: #fa6f54;
  --black: #000000;
  --white: #ffffff;
  --error-state: #e74a3b;
  --correct-state: #3cbc81;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.blog-div {
  display: flex;
  justify-content: center;
}
.blog-header-container {
  width: 100%;
}
.blog-header {
  align-items: center;
  margin-left: 16px;
  text-transform: uppercase;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
}

.blog-header::after {
  margin-left: 14px;
  margin-right: 16px;
  height: 1px;
  content: ' ';
  text-shadow: none;
  background-color: var(--black);
  flex-grow: 1;
}

.blog-list {
  justify-content: center;
  gap: 16px;
  margin: 32px 16px;
  display: flex;
}
.blog-button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  padding-top: 18px;
}

.blog-button {
  background-color: var(--brand-color);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 38px;
  font-size: 20px;
  line-height: 24px;
  width: 208px;
  height: 44px;
  font-size: 18px;
}

.hidden-media {
  display: none;
}

.blog-arrows {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.blog-par {
  margin-bottom: 24px;
}

.blog-style-paragraf {
  color: var(--black);
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog-svg {
  width: 50px;
  height: 50px;
}

/* ----Media---- */

@media (min-width: 320px) {
}
@media (min-width: 768px) {
  .blog-svg {
    width: 61px;
    height: 61px;
  }
  .hidden-media {
    display: flex;
  }
  .blog-svg {
    width: 61px;
    height: 61px;
  }
  .blog-style-paragraf {
    font-size: 32px;
  }
  .blog-button {
    font-size: 28px;
    width: 280px;
    height: 64;
  }
  .blog-header {
    font-size: 44px;
  }
}

@media (min-width: 1280px) {
  .hidden-media {
    display: flex;
  }
  .blog-svg {
    width: 61px;
    height: 61px;
  }
  .blog-style-paragraf {
    font-size: 32px;
  }
  .blog-button {
    font-size: 28px;
    width: 280px;
  }
}

/* ========Modal-Window======= */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 380px;
  border-radius: 4px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.newsletter-image {
  background-image: url(/src/images/bouquet-newsletter-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 121px;
}

.newsletter-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 18px;
}

.newsletter-header {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 600;
  line-height: normal;
}

.newsletter-text {
  color: #5c5c5c;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  max-width: 236px;
  padding-top: 14px;
}

.label-container-blog {
  margin: 0 8px 18px 8px;
  width: 236px;
  padding-top: 18px;
}

.label-modal-blog {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
  width: 100%;
}

.input-order-form-blog {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  background-color: transparent;
  padding-left: 12px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-order-form-blog::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.blog-button-div-newsletter {
  display: flex;
  justify-content: center;
}

.blog-button-newsletter {
  background-color: var(--brand-color);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  width: 236px;
  height: 37px;
}

/* @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .newsletter-image {
      url(/src/);
  }
} */

@media (min-width: 480px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1157px) {
  .modal {
    width: 588px;
    height: 644px;
  }

  .newsletter-image {
    background-image: url(/src/images/bouquet-newsletter-tablet.jpg);
    height: 271px;
  }

  .close-btn {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
  }
  .newsletter-content {
    max-width: 432px;
    margin: 0 auto;
    padding-top: 28px;
  }
  .newsletter-header {
    color: #000;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 352px;
    width: 100%;
    white-space: nowrap;
  }

  .newsletter-text {
    font-size: 16px;
    max-width: 336px;
    padding-top: 24px;
    margin: 0 auto;
  }

  .label-container-blog {
    margin: 0 8px 18px 8px;
    width: 336px;
    padding-top: 32px;
  }

  .blog-button-newsletter {
    font-size: 18px;
    width: 336px;
    height: 50px;
  }

  .input-order-form-blog::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 1158px) {
  .modal {
    flex-direction: row;
    width: 860px;
    height: 528px;
  }

  .newsletter-image {
    background-image: url(/src/images/bouquet-newsletter.jpg);
    height: 100%;
  }

  .newsletter-content {
    max-width: 432px;
    padding: 111px 40px 126px 40px;
  }

  .newsletter-header {
    color: #000;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 352px;
    width: 100%;
    white-space: nowrap;
  }

  .newsletter-text {
    color: #5c5c5c;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    max-width: 336px;
    margin: 0 8px 8px 8px;
  }

  .label-container-blog {
    margin: 0 8px 18px 8px;
    width: 336px;
    padding-top: 32px;
  }

  .blog-button-newsletter {
    font-size: 18px;
    width: 336px;
    height: 50px;
  }
}
