:root {
    --brand-color: #e86f54;
    --brand-color-hover: #e25b41;
    --brand-color-focus: #fa6f54;
    --black: #000000;
    --white: #ffffff;
    --error-state: #e74a3b;
    --correct-state: #3cbc81;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    background-color: var(--white);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

/*STORE*/
.store-header {
    margin-left: 16px;
}

.store-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 32px 16px;
}

.store-list-element {
    max-width: calc((100% - 16px) / 2);
}

.store-offers {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.store-offers-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    margin-bottom: 0;
}

.store-offers-item-description {
    font-weight: 600;
    font-size: 12px;
    line-height: 14.63px;
    opacity: 60%;
    margin-top: 0;
}

.store-button-div {
    display: flex;
    justify-content: center;
}

.store-button {
    background-color: var(--brand-color);
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 38px;
    font-size: 20px;
    line-height: 24px;
    width: 208px;
    height: 44px;
}

.store-button:hover {
    background-color: var(--brand-color-hover);
}

.store-button:focus {
    background-color: var(--brand-color-focus);
}

/* ==============MODAL WINDOW-BUTTON================== */

.modal-contact {
    width: 100%;
    max-width: 272px;
    height: 357px;
    background-color: var(--white);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 28px 16px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-button-modal {
    fill: var(--black);
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 18px;
    height: 18px;
    cursor: pointer;
    top: 16px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-x {
}

#icon-x-mobile path {
    stroke: black;
}

.title-contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 14px;
}

.legend {
    font-size: 12px;
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 18px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    color: var(--grey);
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 8px;
}

.input {
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid var(--milk);
    color: rgba(0, 0, 0, 0.40);
    padding: 10px 12px;
    margin-bottom: 14px;
}

.input:hover,
.input:focus {
    border: 1px solid rgba(17, 17, 17, 0.70);
}

.input:not(:placeholder-shown):required:invalid {
    border: 1px solid var(--error-state);
}

.input:not(:placeholder-shown):required:valid {
    border: 1px solid var(--correct-state);
}

.button-send {
    display: flex;
    width: 100%;
    max-width: 240px;
    height: 37px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 111, 84, 0.40);
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.button-send:active {
    background-color: var(--brand-color);
}

@media screen and (min-width: 768px) {
    .modal-contact {
        max-width: 480px;
        height: 511px;
        padding: 48px 32px;
    }

    .title-contact {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .legend {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .label {
        font-size: 14px;
    }

    .input {
        font-size: 14px;
        padding: 16px;
        margin-bottom: 24px;
    }

    .button-send {
        max-width: 416px;
        padding: 14px;
        height: 50px;
        font-size: 18px;
    }

    .icon-x {
        padding: 0;
        width: 24px;
        height: 24px;
    }

    .close-button-modal {
        width: 24px;
        height: 24px;
        top: 24px;
        right: 18px;
    }
}