<about>
  <div class="header-about-container">
    <h2 class="about-header">About</h2>
  </div>
  <div class="about-container">
    <p class="about-text">
      We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give
      people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is
      unique as you are.
    </p>
    <div class="about-photo">
      <picture>
        <source
          srcset="/src/images/image-about.jpg"
          srcset="/src/images/image-about@2x.jpg"
          media="(min-width: 1158px)"
        />
        <source
          srcset="/src/images/image-about-tablet.jpg"
          srcset="/src/images/image-about-tablet@2x.jpg"
          media="(min-width: 768px)"
        />
        <img
          src="/src/images/image-about-mobile.jpg"
          srcset="/src/images/image-about-mobile@2x.jpg 2x"
          alt="two pink flowers"
        />
      </picture>
    </div>
  </div>
</about>
