<blog class="blog-section">
  <div class="blog-headline">
    <h2 class="blog-h1" id="blog">BLOG</h2>
    <hr class="hr-blog" />
  </div>
  <div class="carousel">
    <div class="flower-photo1">
      <picture>
        <source
          srcset="/src/images/flowers-img4-tablet.jpg"
          srcset="/src/images/flowers-img4-tablet@2x.jpg"
          media="(min-width: 768px) and (max-width: 1279px)"
        />
        <source
          srcset="/src/images/flowers-img4.jpg"
          srcset="/src/images/flowers-img4@x2.jpg"
          media="(min-width: 1280px)"
        />
        <img
          src="/src/images/flowers-img4-mobile.jpg"
          srcset="/src/images/flowers-img4-mobile@2x.jpg"
          alt="A flower"
        />
      </picture>
    </div>
    <div class="flower-photo2">
      <picture>
        <source
          srcset="/src/images/flowers-img5-tablet.jpg"
          srcset="/src/images/flowers-img5-tablet@2x.jpg"
          media="(min-width: 768px) and (max-width: 1279px)"
        />
        <source
          srcset="/src/images/flowers-img5.jpg"
          srcset="/src/images/flowers-img5@2x.jpg"
          media="(min-width: 1280px)"
        />
        <img
          src="/src/images/flowers-img5-mobile.jpg"
          srcset="/src/images/flowers-img5-mobile@2x.jpg"
          alt="A flower"
        />
      </picture>
    </div>
    <div class="flower-photo3">
      <picture>
        <source
          srcset="/src/images/flowers-img6-tablet.jpg"
          srcset="/src/images/flowers-img6-tablet@2x.jpg"
          media="(min-width: 768px) and (max-width: 1279px)"
        />
        <source
          srcset="/src/images/flowers-img6.jpg"
          srcset="/src/images/flowers-img6@2x.jpg"
          media="(min-width: 1280px)"
        />
        <img
          src="/src/images/flowers-img6-mobile.jpg"
          srcset="/src/images/flowers-img6-mobile@2x.jpg"
          alt="A flower"
        />
      </picture>
    </div>
  </div>
  <div class="blog-arrows">
    <svg class="arrowleft"><use href="/src/images/symbol-defs.svg#arrow-left"></use></svg>
    <svg class="arrowright"><use href="/src/images/symbol-defs.svg#arrow-right"></use></svg>
  </div>
  <div class="blog-button">
    <p class="blog-text">Follow to our newsletter</p>
    <button class="blog-subscribe-button" type="" data-modal-open>Subscribe</button>
  </div>
</blog>
