<section class="blog-section">
      <blog class="blog-section">
      <div class="blog-headline">
        <h1 class="blog-h1">BLOG</h1>
        <hr class="hr-blog" />
      </div>
      <div>
        <ul class="carousel">
            <li class="flower-photo1">
              <picture
              <source media="(max-width:480px)" srcset="/src/images/flowers-img4-mobile.jpg"
              alt="flower"
              /></li><source>
            </li>
            <li class="flower-photo2">
              <img
                src="/src/images/flowers-img5-mobile.jpg">
      <div class="blog-headline">
        <h1>BLOG</h1>
        <hr class="hr-blog" />
      </div>
      <div class="blog-images">
        <ul class="carousel">
            <li class="flower-photo1">
              <img
                src="/src/images/flowers image1-mobile.jpg"
                alt="flower"
              />
            </li>
            <li class="flower-photo2">

            </li>
            <li class="flower-photo3">
              <img

                src="/src/images/flowers-img6-mobile.jpg"
                alt="flower"
              />


      </div>
      <div class="blog-arrows">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.0364 26.6678L10.1569 25.3898L45.9014 25.3888V24.3888L10.3809 24.3898L12.1514 23.3723L11.6534 22.5052L7.57885 24.8463L11.4739 27.4948L12.0364 26.6678Z" fill="black"/>
        </svg>
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2764_335)">
        <path d="M33.865 23.1097L35.7445 24.3877L0 24.3887L0 25.3887L35.5205 25.3877L33.75 26.4052L34.248 27.2722L38.3225 24.9312L34.4275 22.2827L33.865 23.1097Z" fill="black"/></g><defs><clipPath id="clip0_2764_335"><rect width="50" height="50" fill="white" transform="matrix(0 -1 1 0 0 50)"/></clipPath></defs>
        </svg>
      </div>

      <div class="blog-button">
        <p class="blog-text">Follow to our newsletter</p>
        <button class="blog-subscribe-button" type="" data-modal-open>Subscribe</button>
      </div>
      </blog>
    </section>
