<section class="delivery-section">
    <div class="delivery-box">
        <h2 class="delivery-heading">Delivery</h2>
        <!-- <img class="delivery-line" src="images/line_1.jpg" alt="line" width="148" height="1" /> -->
    </div>
    <ul class="delivery-container">
        <li class="delivery-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <text x="15" y="27" font-family="Montserrat" font-size="20" fill="black">
                    1
                </text>
                <circle cx="20" cy="20" r="19.5" stroke="black" />
                <!-- <use href=""></use> -->
            </svg>
            <p class="delivery-paragraph">
                Choose your bouquet and make an order on website
            </p>
        </li>
        <li class="delivery-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <text x="15" y="27" font-family="Montserrat" font-size="20" fill="black">
                    2
                </text>
                <circle cx="20" cy="20" r="19.5" stroke="black" />
                <!-- <use href=""></use> -->
            </svg>
            <p class="delivery-paragraph">
                Wait for the call to clarify the details of the order. You can pay
                online or to the courier
            </p>
        </li>
        <li class="delivery-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <text x="15" y="27" font-family="Montserrat" font-size="20" fill="black">
                    3
                </text>
                <circle cx="20" cy="20" r="19.5" stroke="black" />
                <!-- <use href=""></use> -->
            </svg>
            <p class="delivery-paragraph">
                Wait for the delivery at the selected time or pick up the order from
                the store
            </p>
        </li>
        <li class="delivery-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <text x="15" y="27" font-family="Montserrat" font-size="20" fill="black">
                    4
                </text>
                <circle cx="20" cy="20" r="19.5" stroke="black" />
                <!-- <use href=""></use> -->
            </svg>
            <p class="delivery-paragraph">Make someone happy or enjoy yourself</p>
        </li>
    </ul>
    <picture>
        <source srcset="/src/images/image-delivery-tablet.jpg" srcset="images/image-delivery-tablet@x2.jpg"
            media="(min-width: 768px) and (max-width: 1158px)" />
        <source srcset="images/image-delivery.jpg" srcset="images/image-delivery@x2.jpg"
            media="(min-width: 1158px)" />
        <img src="/src/images/image-delivery.jpg" srcset="/src/images/image-delivery@2x.jpg" alt="flowers"
            class="delivery-image" />
    </picture>
</section>