<delivery>
  <div class="delivery-section">
    <div class="delivery-box">
      <h2 class="delivery-heading">DELIVERY</h2>
      <img class="delivery-line" src="/src/images/line_1.jpg" alt="line" width="148" height="1" />
    </div>

    <ul class="delivery-container">
      <li class="delivery-list">
        <p class="delivery-parag">1</p>
        <p class="delivery-paragraph">Choose your bouquet and make an order on website</p>
      </li>

      <li class="delivery-list">
        <p class="delivery-parag2">2</p>
        <p class="delivery-paragraph">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>

      <li class="delivery-list">
        <p class="delivery-parag3">3</p>
        <p class="delivery-paragraph">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>
      <li class="delivery-list">
        <p class="delivery-parag4">4</p>
        <p class="delivery-paragraph">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
    <picture>
      <source
        srcset="/src/images/image-delivery-tablet.jpg"
        srcset="/src/images/image-delivery-tablet@2x.jpg"
        media="(min-width: 768px) and (max-width: 1158px)"
      />
      <source
        srcset="/src/images/image-delivery.jpg"
        srcset="/src/images/image-delivery@2x.jpg"
        media="(min-width: 1158px)"
      />
      <img
        src="/src/images/image-delivery-mobile.jpg"
        srcset="/src/images/image-delivery-mobile@2x.jpg"
        alt="flowers"
        class="delivery-image"
      />
    </picture>
  </div>
</delivery>
