<footer class="footer-general">
    <div class="footer-container">
        <div class="footer-box footer-box-logo">
            <!-- <svg class="footer-logo">
                <use href="../images/icons.svg#icon-logo"></use>
            </svg> -->
        </div>
        <div class="footer-box footer-box-navigation">
            <h1 class="footer-header">Navigation</h1>
            <ul class="footer-list">
                <li class="footer-text">
                    <a href="" class="footer-link">Anemone</a>
                </li>
                <li class="footer-text">
                    <a href="" class="footer-link">About us</a>
                </li>
                <li class="footer-text">
                    <a href="" class="footer-link">Store</a>
                </li>
                <li class="footer-text">
                    <a href="" class="footer-link">Delivery</a>
                </li>
            </ul>
        </div>
        <div class="footer-box footer-box-openingtimes">
            <h1 class="footer-header">Opening times</h1>
            <ul class="footer-list-openingtimes">
                <li class="footer-text">Every day</li>
                <li class="footer-text">9:00 - 22:00</li>
            </ul>
        </div>
        <div class="footer-box footer-box-contacts">
            <h1 class="footer-header">Contacts</h1>
            <ul class="footer-list">
                <li class="footer-text">
                    <a href="tel:+380631234567" class="footer-link"
                        >+38 063 123 45 67</a
                    >
                </li>
                <li class="footer-text footer-email">
                    <a href="mailto:anemonestudio@example.com" class="footer-link"
                        >anemonestudio@example.com</a
                    >
                </li>
                <li class="footer-text">
                    Reitarska Street, 11<br />
                    Kyiv, Ukraine
                </li>
            </ul>
        </div>
        <div class="footer-box footer-box-media">
            <ul class="footer-svg-wrapper">
                <li>
                    <!-- <svg class="footer-svg">
                        <use href="../images/icons.svg#icon-facebook"></use>
                    </svg>
                </li>

                <li>
                    <svg class="footer-svg">
                        <use href="../images/icons.svg#icon-instagram"></use>
                    </svg> -->
                </li>
            </ul>
        </div>
    </div>
</footer>