<header class="border">
        <div class="container menu-header">
            <nav class="menu-header-nav">
                <svg class="foterros" width="24" height="24">
                    <use chref="/src/images/symbol-defs.svg#icon-logo-full" />
                </svg>
                <ul class="list ">
                    <li><a class="nav link ">Anemone</a></li>
                    <li><a class="nav link ">About us</a></li>
                    <li><a class="nav link ">Store</a></li>
                    <li><a class="nav link ">Delivery</a></li>
                    <li><a class="nav link ">Blog</a></li>
                </ul>
            </nav>
            <div>
                <address class="contacts">
                    <ul class="list list-contact">
                        <svg class="foterros" width="24" height="24">
                            <use  href="/src/images/symbol-defs.svg#icon-logo-full" />
                        </svg>
                    </ul>
                </address>
            </div>
            <div class="mobile_menu_logo_top">
              <div class="header_symbol">
                <a class="seting" href="tel:+380631234567">
                <svg class="foterros header_symbol" width="24" height="24">
                    <use  href="/src/images/symbol-defs.svg#icon-tel" />
                </svg>
                </a>
                <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <svg class="foterros" width="24" height="24">
                        <use  href="/src/images/symbol-defs.svg#icon-Burger" />
                    </svg>
                </button>
               </div>
            <div class="js-menu-container">
                <div class="mobile_menu_close">
                    <button class="menu-toggle js-close-menu">
                        <svg class="foterros header_symbol" width="24" height="24">
                    <use  href="/src/images/symbol-defs.svg#icon-x-mobile" />
                </svg>
                    </button>
                </div>
                <nav class="menu-header-mobile menu-header-padding">
                    <ul class="modal_list list_mobile mobile_ul">
                        <li><a class="nav link underline">Anemone</a></li>
                        <li><a class="nav link underline" >About us</a></li>
                        <li><a class="nav link underline" >Store</a></li>
                        <li><a class="nav link underline">Delivery</a></li>
                        <li><a class="nav link underline">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>