<section class="container-hero general-container">
  <div class="section-hero">
    <div class="content-hero">
      <div class="items-hero">flower studio</div>
      <img
        class="hero-img"
        src="/src/images/home-page-img.jpg"
        srcset="
          /src/images/hero-mob1x.png 145w,
          /src/images/hero-mob2x.png 290w,
          /src/images/hero-tab1x.png 390w,
          /src/images/hero-tab2x.png 780w
        "
        sizes="(min-width:1280px) 390px, (min-width:768px) 390px, (min-width:320px) 145px"
        alt="orange flower"
      />
      <button class="button-hero">
        <svg class="hero-btn">
          <use href="/src/images/symbol-defs.svg#icon-btn-hero2"></use>
        </svg>
      </button>
    </div>
    <div>
      <h1 class="title-hero">ANEMONE</h1>
    </div>
  </div>
</section>
