<store>
    <h2 class="store-header">STORE</h2>
    <ul class="list store-list">
        <li class="store-list-element">
            <img src="/src/images/bouquet1.jpg" alt="a small bouquet of orange, red and burgundy flowers" width="136" height="155" />
            <div class="store-offers">
                <h3 class="store-offers-item">compliments</h3>
                <p class="store-offers-item-description">from $15</p>
            </div>
        </li>
        <li class="store-list-element">
            <img src="/src/images/bouquet2.jpg" alt="a small bouquet of pink and white flowers" width="136"
                height="155" />
            <div class="store-offers">
                <h3 class="store-offers-item">bouquets size S</h3>
                <p class="store-offers-item-description">from $25</p>
            </div>
        </li>
        <li class="store-list-element">
            <img src="/src/images/bouquet3.jpg" alt="a medium-size bouquet of white, blue and purple flowers" width="136"
                height="155" />
            <div class="store-offers">
                <h3 class="store-offers-item">bouquets size M</h3>
                <p class="store-offers-item-description">from $45</p>
            </div>
        </li>
        <li class="store-list-element">
            <img src="/src/images/bouquet4.jpg" alt="a big bouquet of beige, orange and pink flowers" width="136"
                height="155" />
            <div class="store-offers">
                <h3 class="store-offers-item">bouquets size L</h3>
                <p class="store-offers-item-description">from $60</p>
            </div>
        </li>
    </ul>
    <div class="store-button-div">
        <button type="button" class="store-button" data-modal-open>
            Order flowers
        </button>
    </div>
</store>